<li>
    {{!-- {{#if stage}} --}}
	{{dog_name}} - {{owner_name}} - {{phone_number}} - {{#if needswalk}}
    {{!-- {{#needs a walk button}} --}}
    <button class="walkbtn" data-id="{{id}}" data-needswalk="{{needswalk}}">
        Needs a walk today
    </button>
    {{/if}}
    {{!-- {{#has been walked button}} --}}
    <button class="donebtn" data-id="{{this.id}}">
        Has been walked
    </button>
</li>