<li>
    {{!-- {{#if stage}} --}}
	<b>{{dog_name}}</b> <i class="fas fa-info-circle"></i> {{owner_name}} - {{phone_number}}
    {{!-- {{#has been walked button}} --}}
    <button class="donebtn" data-id="{{this.id}}" data-needswalk="{{needswalk}}">
        {{#if needswalk}}Completed Walk{{else}}Needs a Walk Today{{/if}}
    </button>
</li>